@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

.quote {
      max-width: 575px;
      width: 100%;
      padding: 3rem 6rem;
      background-color: #fabdbd;
      border-radius: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      flex-direction: column;

      @media screen and (max-width: 1024px) {
            padding: 1rem 2rem;
      }

      @media screen and (max-width: 635px) {
            max-width: 300px;
      }

      &__text {
            display: flex;
            align-items: center;
            flex-direction: column;

            &-quote {
                  font-family: "Satisfy", cursive;
                  color: #000;
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 56px;
                  margin: 0 0 1rem;

                  @media screen and (max-width: 1024px) {
                        line-height: 21px;
                        font-size: 1rem;
                  }
            }

            &-author {
                  font-family: "JetBrains Mono", monospace;
                  color: #000;
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 21px;
                  margin: 0 0 1.5rem;
                  align-self: flex-end;

                  @media screen and (max-width: 1024px) {
                        font-size: 12px;
                  }
            }
      }

      &__button {
            background-color: #fefcd0;
            border: 0;
            border-radius: 4px;
            font-family: "JetBrains Mono", monospace;
            color: #000;
            font-size: 1rem;
            font-weight: 400;
            line-height: 21px;
            width: fit-content;
            padding: 12px 24px;
            cursor: pointer;
            transition: all ease-in 0.2s;

            &:hover {
                  filter: brightness(0.9);
            }
      }
}
